# Project exclude paths
/.gradle/
/Hospital Appointment Booking System/task/build/
/Hospital Appointment Booking System/task/out/production/classes/
/Topics/Instance methods/Car/out/
/Topics/Instance methods/Car/out/production/classes/
/Topics/Instance methods/Instance method and its class/out/
/Topics/Instance methods/Instance method and its class/out/production/classes/
/Topics/Instance methods/Theory/out/
/Topics/Instance methods/Theory/out/production/classes/
/Topics/Scanning the input/Guest list of a hotel/out/
/Topics/Scanning the input/Guest list of a hotel/out/production/classes/
/Topics/Scanning the input/Hiring a chef/out/
/Topics/Scanning the input/Hiring a chef/out/production/classes/
/Topics/Scanning the input/Print strings in the reverse order/out/
/Topics/Scanning the input/Print strings in the reverse order/out/production/classes/
/Topics/Scanning the input/Theory/out/
/Topics/Scanning the input/Theory/out/production/classes/